body {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 2rem;
}
h1,
h2 {
  margin: 2rem 0 -.5rem;
}
h1 {
  font-family: "Schoolbell", sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
}
.byline {
  font-size: 1.5rem;
}
.link-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 1.25rem -.5rem 3rem;
  padding: 0;
}
.link-list__link {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: .25rem;
  position: relative;
  text-decoration: none;
}

.link-list__item {
  margin: 0;
}

.link-list__icon {
  fill: currentColor;
  height: 2.5rem;
  width: 2.5rem;
}
a {
  color: #0d98ba;
  text-decoration-skip: ink;
  transition: color .25s;
}

a:focus,
a:hover {
  color: #085e72;
}

a:active {
  color: Black;
}